$main-color: #1e7b12;

.container {
	width: 940px;
	margin: 0 auto;
}

header {
	margin-bottom: 2em;
	border-bottom: 1px solid $main-color;
	text-align: right;
	h1 {
		img {
			
		}
	}
}

footer {
	margin-top: 2em;
	border-top: 1px solid $main-color;
	text-align: right;
}

.field {
	label {
		color: $main-color;
	}
}